Person 0	Leader
Person 1	Leader
Person 2	Leader
Person 3	Leader
Person 4	Leader
Person 5	Leader
Person 6	Leader
Person 7	Software
Person 8	Software
Person 9	Software
Person 10	Software
Person 11	Software
Person 12	Software
Person 13	Software
Person 14	Software
Person 15	Software
Person 16	Software
Person 17	Software
Person 18	Software
Person 19	Software
Person 20	Hardware
Person 21	Hardware
Person 22	Hardware
Person 23	Hardware
Person 24	Hardware
Person 25	Hardware
Person 26	Hardware
Person 27	Hardware
Person 28	Hardware
Person 29	Hardware
Person 30	Hardware